<%# include the header.ejs layout for the header %>
<%- include('partials/header'); -%>

<h1>About</h1>

<%= aboutText %>

<%# include the header.ejs layout for the header %>
<%- include('partials/footer'); -%>
