<%# include the header.ejs layout for the header %>
<%- include('partials/header'); -%>

<h1>Contact</h1>

<%= contactText %>

<%# include the header.ejs layout for the header %>
<%- include('partials/footer'); -%>
