<%# include the header.ejs layout for the header %>
<%- include('partials/header'); -%>

<h1>Home!</h1>

<%= homeText %>

<%# include the header.ejs layout for the header %>
<%- include('partials/footer'); -%>
