<%# include the header.ejs layout for the header %>
<%- include('partials/header'); -%>

<h1><%= title %></h1>
<p><%= body %></p>

<%# include the header.ejs layout for the header %>
<%- include('partials/footer'); -%>
